*{
  margin: 0;
  padding: 0;
}

html{
  background: url('../../Images/homeBackground.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1vw;
}

.nav a {
  font-family: "Lato", sans-serif;
  margin: 5vw 2vw;
  text-decoration: none;
  font-size: 25px;
  color: #26315f;
  display: block;
  transition: 0.3s;
}

.nav a:hover {
  color: #a8d0e6;
}

.nav .closebtn {
  position: absolute;
  font-size: 4vw;
  margin-top: -0.4vw;
  margin-left: 11vw;
}

.menuBtn{
  width: 50px;
  height: 50px;
  background: #ffffff;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.menuBtn img{
  width: 20px;
  margin-top: 15px;
}
