*{
  margin: 0;
  padding: 0;
}

html{
  background: url('../../Images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo{
  width: 5vw;
  position: absolute;
  top: 3.5vw;
  left: 30.5vw;
}

h1{
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
  color: #ffffff;
}

.buttonHeader{
  text-align: left;
  padding-left: 17vw;
  padding-right: 17vw;
  margin-bottom: -2vw;
  font-size: 1.5vw;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.buttonIcons img{
  margin-left: 15vw;
  padding-top: 2vw;
  width: 15vw;
}

.main{
  margin-top: -56vw;
  margin-left: 30vw;
  margin-right: 30vw;
  color: #26315f;
  font-family: 'Roboto', sans-serif;
}

.main h4{
  font-size: 2vw;
}

.text1 ul{
  padding-left: 1.5vw;
  font-size: 1.5vw;
  margin-bottom: 9.5vw;
}

.text ul{
  padding-left: 1.5vw;
  font-size: 1.5vw;
  margin-bottom: 11.2vw;
}

.songs h3{
  text-align: center;
  padding-left: 17vw;
  padding-right: 17vw;
  margin-top: -5vw;
  font-size: 2.5vw;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.video {
  padding-top: 2vw;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.video iframe{
  margin-bottom: 3vw;
  box-shadow: 1vw 1.5vw 1.5vw 1vw rgba(0,0,0,0.2);
  border-radius: 2vw 2vw 2vw 2vw;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1vw;
}

.nav a {
  font-family: "Lato", sans-serif;
  margin: 5vw 2vw;
  text-decoration: none;
  font-size: 25px;
  color: #26315f;
  display: block;
  transition: 0.3s;
}

.nav a:hover {
  color: #a8d0e6;
}

.nav .closebtn {
  position: absolute;
  font-size: 70px;
  right: 0.3vw;
  top: -3.9vw;
}

.menuBtn{
  width: 50px;
  height: 50px;
  background: #ffffff;
  text-align: center;
  position: fixed;
  right: 2vw;
  top: 2vw;
  border-radius: 3px;
  cursor: pointer;
}

.menuBtn img{
  width: 20px;
  margin-top: 15px;
}
